body {
  font-family: "Helvetica", Helvetica, sans-serif;
  margin: 0px;
  text-shadow: 0 0 20px rgba(0,0,0,0.2);
  text-shadow: 2px 2px 8px #222;
}

#mid-box {
  font-size: 3em;
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: 500;
}

#quote {
    margin-bottom: 10px;
}

#author::before {
    content: "- ";
}

#author {
    font-size: 60%;
    margin-top: 10px;
}
footer {
  position: fixed;
  bottom: 2em;
  font-family: monospace;
  color: red;
  left: 50%
}
.show {
  display: block;
  -webkit-transition: all 350ms ease;
  -moz-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  transition: all 350ms ease;
}

.hide {
  display: none;
  -webkit-transition: all 350ms ease;
  -moz-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  transition: all 350ms ease;
}
